@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3498db; /* Color of the thumb */
    border-radius: 0%; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2980b9; /* Color of the thumb on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100; /* Color of the track */
    border-radius: 5px; /* Rounded corners */
  }

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 30px;
    color: #ffffff;
}

.container .content h3 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1 {
    font-size: 50px;
    color: #ffffff;
}

.container .content h1 span {
    color: rgb(84, 218, 255);
}

.container .content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: rgba(68, 89, 197, 0.644);
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
    border-radius: 10px;

}

.container .content .btn:hover {
    background: rgba(128, 179, 255, 0.703);
    transition: ease-in-out 0.2s; 
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #b3a6a6;
}

#registerCheckId{
    font-size: small;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
    width: 500px;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: crimson;
    color: #fff;
}

.form-container form p {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a {
    color: crimson;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}




/* Add more CSS rules for responsiveness and customization as needed */

@media (max-width: 768px) {
    .slider-container {
        overflow-x: scroll;
    }

    .slider {
        flex-wrap: nowrap;
    }
}

#navbarAdmin{

    background-color: #33333300;
    position: absolute;
    top: 0px;
    width: 100%;
    
}

#navbarAdmin ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbarAdmin li{
   float: left;
}

#navbarAdmin a:hover {
    background-color: rgba(129, 150, 206, 0);
    border-radius: 20px;
    color: #eee;
    transition: ease-in-out 0.2s;
}

#navbarAdmin a {
    display: block; 
    color: #a7a7a7; 
    text-align: center; 
    padding: 15px 20px; 
    text-decoration: none; 
}

  /*--------------------------------------------- admin page basic style -------------------------------------------*/

  #userPageText{
    color: rgb(193, 209, 223);
}

body {
    /* background: linear-gradient(-45deg, #000000, #27000f, #002d3e, #003327);
    background-size: 400% 400%; */
    /* animation: gradient 15s ease infinite; */
    background-color: #000000;
    height: 100vh;
    background-image: url("../assets/basketballll.png");
 background-size: contain;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  p{
    color: #eee;
  }


  .content a{
      background-color: #297fb982;
  }