@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


body {
    background: linear-gradient(-45deg, #000000, #27000f, #002d3e, #003327);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* <-------------------------------- navbar ---------------------------------> */

  .navbar {
    background-color: rgb(51, 51, 51)272; 
    overflow: hidden;
}


.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    float: left; 
    margin: 5px;
    top: 2px;
}

.navbar a {
    display: block; 
    color: #fff; 
    text-align: center; 
    padding: 15px 20px; 
    text-decoration: none; 
    margin: 5px;
    top: 2px;
}

.navbar a:hover {
    background-color: #8196ce;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
    
}

.navbar li:hover ul {
    display: block;
}

.navbar ul ul {
    display: none; 
    position: absolute;
    background-color: #f1f1f100; 
    z-index: 1;
}

.navbar ul ul li {
    float: none;
}

.navbar ul ul a {
    padding: 10px 20px;
}

.navbar ul ul a:hover {
    background-color: rgb(85, 85, 85);
}



/*-------------------------------------------- card styling--------------------------------------------------*/


#productdetailsContainer{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  padding: 20px;
  height: 530px;
}

#productDescPrice{
    color: rgb(205, 58, 58)
}

#productDescImage{
    height: 300px;
    width: 300px;
}

#totalPrice{
    display: flex;
    flex-direction: row;
}















