* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

#userPageText{
    color: rgb(193, 209, 223);
}

body {
    background: linear-gradient(-45deg, #000000, #27000f, #002d3e, #003327);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  #navbarHead{
    color: aliceblue;
    position: absolute;
    margin: 18px;
    right: 0px;
    font-weight: 500;
    font-size: 25px ;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3498db; /* Color of the thumb */
    border-radius: 0%; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2980b9; /* Color of the thumb on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100; /* Color of the track */
    border-radius: 5px; /* Rounded corners */
  }
  


