/* CSS for Sign button*/

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: bolder;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* SIGN UP PAGE OVERALL*/


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(62, 62, 62, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.signup-container h2 {
  margin: 0;
  color: #474747;
}

.input-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  color: #777;
  align-self: flex-start;
}

.input-group input {
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}

.input-group input:focus {
  outline: none;
  border-color: #3498db;
}

#termsandconditions{
  font-size: 11px;
  margin-top: 40px;
}

#alreadyhaveaccount{
  font-size: 11px;
  margin-top: 30px;
}
